language: haskell

sudo: false

branches:
    only:
      - master

cache:
    directories:
      - $HOME/.ghc/
      - $HOME/.cabal
      - $HOME/.stack/

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar -xzO --wildcards '*/stack' > ~/.local/bin/stack
  - chmod a+x ~/.local/bin/stack
  - stack -j 2 setup --no-terminal

script:
  - stack -j 2 build --no-terminal
